<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: heading"></nav>


<h1 th:text="${Title}"></h1>

<h3>Standings</h3>
<table>
    <tr th:each="overallScore : ${overallScores}">
        <td th:text="${overallScore.place}"></td>
        <td th:text="${overallScore.team.name}"></td>
        <td th:text="${overallScore.score}"></td>

    </tr>

</table>

<h3>Week By Week Results</h3>
<ul th:each="race : ${league.races}">
    <li><a th:href="@{/league/results/{id}(id=${race.id})}" th:text="${race.name}"></a></li>
</ul>

</body>
</html>