<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: heading"></nav>

<form method="post">
    <input type="text" th:name="file" />
    <input type="submit" />

<!--<div class="form-group">-->
    <!--<label for="runnerlist">File input</label>-->
    <!--<input type="file" class="form-control-file" id="runnerlist" th:name="file" aria-describedby="fileHelp"/>-->
    <!--<small id="fileHelp" class="form-text text-muted">Please upload a CSV file with two columns; one for the runner's name and one for the high school. Do not include a header row</small>-->
<!--</div>-->
    <!--<input type="submit"/>-->
</form>

<a th:href= "@{/commissioner/{id}(id=${league.id})}">Back to Commissioner Main Page</a>


</body>
</html>