<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: heading"></nav>

<div class="row">
    <div class="col-md-4">
        <h3>Add a Race</h3>
        <form method="post" th:object="${race}">

            <input type="text" th:field="*{name}" />
            <label th:for="*{name}" />
            <input type="submit" value="Add Race" />

        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a th:href= "@{/commissioner/{id}(id=${league.id})}">Back to Commissioner Main Page</a>
    </div>
</div>





</body>
</html>