<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<p th:value="${error}" ></p>

<form method="post">
    <ul >
        <li th:each="ownedRunner : ${teamRoster}">
            <input type="checkbox" th:name="droppedRunnerId" th:value="${ownedRunner.id}"/>
            <label th:for="droppedRunnerId" th:text="${ownedRunner.name}"></label>
        </li>
    </ul>

    <select th:name="runnerId">
        <option th:each="runner : ${availableRunners}"
                th:unless="${runner.team}"
                th:value="${runner.id}"
                th:text="${runner.name}">
        </option>
    </select>

    <input type="submit" value="Add/Drop Runner" />



</form>


</body>
</html>