<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form method="post">
    <input th:each="ownedRunner : ${teamRoster}"
    th:name="droppedRunner"
    th:value="${ownedRunner}"
    th:text="${ownedRunner.name}"/>

    <select th:name="addedRunner">
        <option th:each="runner : ${availableRunners}"
        th:value="${runner}"
        th:text="${runner.name}">
        </option>
    </select>

    <input type="submit" value="Add Runner" />



</form>


</body>
</html>