<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: heading"></nav>

<div class="row">
    <div class="col-md-12">
        <h2>Add/Drop Runners</h2>
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        <p th:value="${error}" ></p>

        <form method="post">

            <fieldset>
                <fieldset class="form-group">
                    <legend>Select a Runner to drop</legend>
                        <div th:each="ownedRunner : ${teamRoster}" class="form-check">
                            <input class="form-check-input" type="radio" th:name="droppedRunnerId" th:value="${ownedRunner.id}" />
                            <label th:for="droppedRunnerId" class="form-check-label" th:text="${ownedRunner.name}">
                            </label>
                        </div>
                </fieldset>
                <div class="form-group">
                    <legend>Select a Runner to Add</legend>
                    <select class="form-control" th:name="runnerId">
                        <option th:each="runner : ${availableRunners}"
                                th:unless="${runner.team}"
                                th:value="${runner.id}"
                                th:text="${runner.name}">
                        </option>
                    </select>
                </div>
                <input type="submit" value="Add/Drop Runner" />
            </fieldset>
        </form>
        <a th:href= "@{/team/{id}(id=${team.id})}">Back to Team Page</a>
    </div>
    <div class="col-md-4">

    </div>
</div>
</body>
</html>