<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: heading"></nav>
<div class="row">
    <div class="col-md-6">
        <h4>Current Roster</h4>
        <ul>
            <li th:each="runner : ${team.runners}" th:text="${runner.name}+ ' ' + ${runner.highSchool}"></li>
        </ul>
        <a th:href= "@{/team/setLineup/{id}(id=${team.id})}">Set Lineup</a>
        <br/>
        <a th:href="@{/team/addRunner/{id}(id=${team.id})}">Add/Drop Runners</a>
    </div>
</div>

</body>
</html>