<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: heading"></nav>

<div class="row">
    <div class="col-md-4">
        <p th:value="${error}" ></p>

        <form method="post">
            <fieldset>
                <fieldset class="form-group">
                    <legend>Starting Lineup</legend>
                    <div th:each="starter : ${team.starters}" class="form-check">
                        <input type="radio" class="form-check-input" th:name="removedRunnerId" th:value="${starter.id}"/>
                        <label class="form-check-label" th:for="removedRunnerId" th:text="${starter.name}"></label>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <legend>Bench</legend>
                    <div th:each="runner : ${team.runners}" th:unless="${runner.lineup}" class="form-check">
                        <input type="radio" class="form-check-input" th:name="addedRunnerId" th:value="${runner.id}"/>
                        <label class="form-check-label" th:for="addedRunnerId" th:text="${runner.name}"></label>
                    </div>
                </fieldset>
                <input type="submit" value="Set Lineup" />
            </fieldset>
        </form>
        <a th:href= "@{/team/{id}(id=${team.id})}">Back to Team Page</a>
    </div>
</div>


</body>
</html>