<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: heading"></nav>






<div class="row" th:unless="${user}" style="padding-top: 50px; padding-left:25px">

    <div class="col-md-10">
        <h3>Welcome to Fantasy Cross Country</h3>
        <br/>
        <p>You are not logged in. Please either <a href="/home/login">Login</a> or <a href="/home/signup">Sign Up</a>.</p>
    </div>
</div>

<div class="row" th:if="${user}" style="padding-top: 50px; padding-left:25px">

    <div class="col-md-10">
        <h3 th:text="'Welcome ' + ${user.username}"></h3>
        <br/>
    </div>
</div>
<div class="row" th:if="${user}">
    <div class="col-md-4">
        <h4>Your Teams</h4>
        <ul>
            <a th:each="team : ${user.teams}" th:href="@{/team/{id}(id=${team.id})}"><li  th:text="${team.name}">
            </li></a>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Options</h3>
        <p><a href="/league/create">Create a League</a></p>
        <p><a href="/league/join">Join a League</a></p>
    </div>

</div>
<div class="row" th:if="${user}">
    <div class="col-md-4">
        <h4>Your Leagues</h4>
        <ul>
            <a th:each="league : ${user.leagues}" th:href="@{/league/{id}(id=${league.id})}">
                <li th:text="${league.name}"></li>
            </a>
        </ul>
    </div>
</div>
<div class="row" th:if="${user}">
    <div class="col-md-4">
        <h4>Manage Leagues You Own</h4>
        <ul>
            <a th:each="league : ${user.commissionedLeagues}" th:href="@{/commissioner/{id}(id=${league.id})}">
                <li th:text="${league.name}"></li>
            </a>
        </ul>
    </div>

</div>





</body>
</html>